<div class="login">
  <div class="outside-card"></div>
  <hr/>
  <div class="vl"></div>
  <div class="card">
    <h1>Welcome to Pencil</h1>
    <button 
      *ngIf="!isLoggedIn"
      mat-button
      color="primary"
      class="login-button"
      matTooltip="Login with Google"
      (click)="login()">
      <fa-icon [icon]="faGoogle"></fa-icon>
      <span>Continue with Google</span>
    </button>

    <fa-icon 
      *ngIf="isLoggedIn"
      [icon]="faSpinner"
      class="spinner"></fa-icon>
  </div>
</div>
