.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  @extend .flex-center;
  height: 100%;
  min-width: 1000px;

  hr {
    width: 900px;
    position: absolute;
    border: none;
    height: 1px;
    background-color: black;  
  }
  .vl{
    height: 100%;  
    width: 1px;
    background-color: black;
    position: absolute;
  }

  .outside-card {
    position: absolute;
    border: 1px solid black;
    width: 250px;
    height: 150px;
    padding: 8.5em;
    margin-left: 15em;
  }

  .card {
    @extend .flex-center;
    background-color: #5cdb95;
    width: 300px;
    height: 150px;

    padding: 6em;
    z-index: 2;

    h1 {
      font-size: 2.5em;
      margin-bottom: 1.5em;
      font-family: "Amatic SC";
    }
  
    .login-button {
      font-size: 1.3em;
      border: 1px solid black;
      padding: 7px 25px;
      color: black;
       
      span {
        padding-left: 10px;
      }
    }

    .spinner {
      font-size: 2em;
      animation: spin 2s infinite;
    }
  }
}

@media only screen and (max-width: 600px) {
  
}

@keyframes spin {
  0% {
    transform: rotateY(180deg);
  }
}