.editor {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  .navbar {
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #5cdb95;
    z-index: 2;
  
    span {
      font-weight: bolder;
      font-family: "Amatic SC";
      font-size: 2em;
      padding-right: 10px;
    }
    
    .logout {
      margin-left: auto;
      margin-right: 30px;
    }
  }
}
